---
---

<nav class="flex justify-between items-center text-white py-4">
  <div>
    <a class="font-medium text-4xl" href="/">LG</a>
  </div>

  <div class="font-medium">
    <ul class="flex gap-6">
      <li><a href="#proyects">Proyectos</a></li>
      <li><a href="#skills">Habilidades</a></li>
      <li><a href="#contact">Contacto</a></li>
    </ul>
  </div>
</nav>