---
---

<nav class="flex justify-between items-center text-white py-4">
  <div>
    <a class="font-medium text-4xl" href="/">LG</a>
  </div>

  <div class="font-medium">
    <ul class="flex gap-4 md:gap-6 lg:gap-8">
      <li class="hover:scale-110 duration-200"><a href="#proyects">Proyectos</a></li>
      <li class="hover:scale-110 duration-200"><a href="#skills">Habilidades</a></li>
      <li class="hover:scale-110 duration-200"><a href="#contact">Contacto</a></li>
    </ul>
  </div>
</nav>