/* Projects swiper */

/* Skills swiper */
.skills_swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.skills_swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
}

.skills_swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
}

.swiper-pagination-bullet-active {
  background-color: #279f83 !important;
}